.content {
	--headercolor: #5682a3;
	--headertext: #FFFFFF;

	--bodycolor: #FFFFFF;

	--btndefaulthover: #e7ebf0;
	--btnprimary: #385169;
	--btnprimaryhover: #001f3f;
	--btndanger:#C63D38;
	--btndangerhover:#921A16;

	--textcolor: #090927;
}

.content {
	color: var(--textcolor);
}

.content .container {
	/*background-color: #292929;*/
}

.content .panel-heading {
	background-color: var(--headercolor);
	
	color: var(--headertext);
	text-align: center;

	padding-top: 20px;
	padding-bottom: 20px;

	font-size: 16px;
}

.content .panel-body {
	background-color: var(--bodycolor);
}

/*
=======================================
			   BUTTON 
=======================================
*/

.content .btn {
	padding-top: 20px;
	padding-bottom: 20px;
}


.content .btn-default {
	margin-bottom: 15px;
}

.content .btn-default:hover {
	background-color: var(--btndefaulthover);
	color: black;
	margin-bottom: 15px;
}

.content .btn-default:focus {
	background-color: var(--btndefaulthover);
	color: black;
}

.content .btn-primary {
	background-color: var(--btnprimary);
}

.content .btn-primary:hover {
	background-color: var(--btnprimaryhover);
}

.content .btn-danger {
	background-color:var(--btndanger);
}

.content .btn-danger:hover {
	background-color: var(--btndangerhover)
}


/*
=======================================
		      REQUESTS 
=======================================
*/

.danger-box-request {
	margin-bottom: 15px; 	

	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;

	text-align: justify;

	border: 1px;
	border-style: solid;
	border-color: var(--headercolor);
	border-radius: 5px;
}

/*
=======================================
			   COOPS 
=======================================
*/

.cooperative{
	text-align: justify;

	color: #001122; /* text more darker */
}

.cooperative .panel-body{
	text-align: justify;

	border: 2px;
	border-style: solid;
	border-color: var(--headercolor);
	border-radius: 5px;

	margin-bottom: 15px;
}

.cooperative .grey-box{
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 5px;

	background-color: #e9eaec;

	border-radius: 5px;
}

.cooperative .grey-box a{
	color: var(--panel-heading);
}


/*
=======================================
			  SETTINGS 
=======================================
*/

.settings-addressbox{
	margin-bottom: 2px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;	
	padding-right: 10px;

	text-align: center;
}

.settings-addressbox:hover{
	background-color: var(--btndefaulthover);
}